version: "3.9"

services:

  postgres:
    image: postgres:15
    container_name: financial_postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: financial_pipeline
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: financial_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data: